body {
    margin: 0;
     padding: 0;
     background-image: url('/pub/images/detail3.jpg'); /* Update the path to your background image */
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     }

}

footer {
    margin-top: auto;
}