body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the container takes at least the full height of the viewport */

}
h1{
    color: #C6DEFF;
}

.card {
       /* background-color: rgba(255, 255, 255, 0.95);*/
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        max-width: 300px; /* Increased maximum width */
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

}
.card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
}

.search-page {
    flex: 1; /* Make the content area flexible to fill the remaining space */
}
.bg-light1 {
    background-color: #f8f9fa;
}
.bg-light2 {
    background-color: #e9ecef;
}

.navbar-brand {
    color:
}
   .search-page {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-image: url('/pub/images/main page.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       color: #fff;
       padding-top: 50px;
       height: 100vh; /* Optionally set the height to fill the viewport */
   }


   /* Existing navbar styles */
   .navbar-light .navbar-toggler-icon {
       background-color: #fff !important;
   }

   .navbar-light .navbar-brand,
   .navbar-light .navbar-nav .nav-link {
       color: #000 !important;
   }

   /* New styles for the custom-navbar class */
  /* .custom-navbar.navbar-light {
       background-color: #333 !important; /* Dark background color for the custom navbar */
   } */

   .custom-navbar.navbar-light .navbar-toggler-icon {
       background-color: #fff !important;
   }

   .custom-navbar.navbar-light .navbar-brand,
   .custom-navbar.navbar-light .navbar-nav .nav-link {
       color: #fff !important; /* White color for text on the custom navbar */
   }


   .footer-bg-color {
       background-color: #333; /* Add your desired background color */
       color: #fff; /* Add your desired text color */
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100px; /* Adjust the height based on your design */
   }

   .footer-bg-color div {
       text-align: center;
   }
